// MIXIN
@mixin breakpoint-down {
  @media (max-width: 1024px) {
    @content;
  }
}

// GENERAL STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1;

  @include breakpoint-down {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
}

button,
.btn {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  width: 80%;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: rgb(10, 1, 19);
  color: #f8f8f8;
  justify-self: center;
  transition: opacity 200ms ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem 4rem;

  @include breakpoint-down {
    padding: 0;
    height: 100%;
  }
}

.required {
  color: rgb(223, 0, 0);
}

// HEADERS
.header {
  background: rgb(216, 187, 255);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &--success {
    background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)),
      url(../img/dylan-gillis-KdeqA3aTnBY-unsplash.jpg) no-repeat center / cover;
    text-align: center;
    padding: 2rem;
  }
}

// MAIN FORM STYLES
.form {
  &__header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)),
      url(../img/dylan-gillis-KdeqA3aTnBY-unsplash.jpg) no-repeat center / cover;
    border-radius: 7px;

    @include breakpoint-down {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      background-position: left;
    }
  }

  &__intro {
    color: #f8f8f8;
    margin: 4rem 0;

    @include breakpoint-down {
      margin: auto 2rem;
      text-align: center;
    }
  }

  &__main {
    background: #f8f8f8;
    color: rgb(74, 47, 102);
    padding: 2rem;
    border-radius: 7px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;

    > :nth-child(6),
    > :nth-child(7),
    > :nth-child(8),
    > :nth-child(9) {
      grid-column: span 2;
    }

    @include breakpoint-down {
      grid-template-columns: 1fr;

      > :nth-child(6),
      > :nth-child(7),
      > :nth-child(8),
      > :nth-child(9) {
        grid-column: span 1;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    > label {
      font-size: 12px;
      // color: #444;
      font-weight: 600;
    }

    > input,
    > select {
      font-family: 'Inter', sans-serif;
      border: 1px solid #999;
      margin-top: 5px;
      border-radius: 5px;
      height: 25px;
      padding: 0 10px;
      transition: all 200ms;

      &:focus {
        background: rgba(216, 187, 255, 0.726);
      }
    }

    > textarea {
      font-family: 'Inter', sans-serif;
      height: 100px;
      border: 1px solid #999;
      border-radius: 5px;
      margin-top: 5px;
      padding: 5px 10px;

      &:focus {
        background: rgba(216, 187, 255, 0.726);
      }
    }
  }
}

.socials {
  margin-top: 10rem;

  @include breakpoint-down {
    margin-top: 1rem;
  }

  a {
    margin-right: 10px;
    color: rgb(216, 187, 255);
    transition-duration: 200ms;

    @include breakpoint-down {
      margin: 0 7px;
    }

    &:hover {
      color: rgb(161, 116, 219);
    }
  }
}

// SUCCESS PAGE
.header--success .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn--return {
    background: rgb(216, 187, 255);
    color: black;
    font-weight: 500;
    min-width: 60%;
    font-size: 1.2rem;
    margin-top: 5rem;
    transition-duration: 200ms;

    @include breakpoint-down() {
      font-size: 1rem;
    }

    &:hover {
      background: rgb(161, 116, 219);
    }
  }
}
